{% extends 'base.html' %}

{% block title %}
BSNSK
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Add article</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Title"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Intro"></textarea><br>
        <textarea name="text" rows="7" id="text" class="form-control" placeholder="Text"></textarea><br>
        <input type="submit" class="btn btn-success" value="Post">
    </form>
</div>

{% endblock %}